# SPDX-License-Identifier: GPL-2.0-only
config EFI_SECRET
	tristate "EFI secret area securityfs support"
	depends on EFI
	select EFI_COCO_SECRET
	select SECURITYFS
	help
	  This is a driver for accessing the EFI secret area via securityfs.

	  To compile this driver as a module, choose M here.
	  The module will be called efi_secret.
